{% extends 'temel.html' %} 
{% block title %}
Divan Media - {{yazi.baslik}}
{% endblock title %}
{% block content %}
{% load static %}
<body>
 

  <div class="col-md-10 blogShort">
        <h1>{{yazi.baslik}}</h1>
        <img src="{% static 't.jpeg' %}" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
        <br/>
        
            <em>This snippet use <a href="" target="#">blablabla</a></em>
        <article><p>
        
            {{yazi.icerik|truncatewords:60}}

       
            </p></article>
        <a class="btn btn-blog pull-right marginBottom10" href="#">READ MORE</a> 
    </div>
    <hr/>
    </body>

</body>
{% endblock content %}
