{% extends 'temel.html' %} {% block content %} {% load static %}
<body>
  <br />
  <div class="card ">
    <div class="card-header ">
      Uzgunuz
    </div>
    <div class="card-body">
      <h5 class="card-title">Aradiginiz sayfa bulunamadi!</h5>
      <p class="card-text">
        Anasayfaya geri donmek icin asagidaki butona tiklayiniz.
    </p>
    <div class="">

            <button type="button" class="btn btn-outline-primary">Anasayfa</button>
            
            <button type="button" class="btn btn-outline-secondary">Geri don</button>
    </div>
    </div>
  </div>
</body>
{% endblock content %}
