{% extends 'temel.html' %} 
{% block title %}
Divan Media - Hata
{% endblock title %}
{% block content %} {% load static %}
<body>
  <br />
  <div class="card ">
    <div class="card-header ">
      Uzgunuz
    </div>
    <div class="card-body">
      <h5 class="card-title">Aradiginiz sayfa bulunamadi!</h5>
      <p class="card-text">
        Anasayfaya geri donmek icin asagidaki butona tiklayiniz.
      </p>
      <div class="">
        <button type="button" class="btn btn-outline-primary">
          <i class="fas fa-home"></i>
          Anasayfa
        </button>

        <button type="button" class="btn btn-outline-secondary">
            <i class="fas fa-chevron-left"></i>
          Geri don
        </button>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
